{% autoescape None %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Summary</title>
    <link rel="stylesheet" href="/static/squaregrid.css" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
<body>
<div id="fb-root"></div>
  <div id="wrapper">
    <div id="container">
      <form method="POST" action="/">
      <div class="sg-5"></div>
      <div class="sg-19">
        <h1>Please summarize {{'one' if k == 1 else 'some'}} of the articles below.</h1>
	<h2>Write a <u>one sentence summary</u> of {{k}} of the {{n}} articles below. Choose whichever {{'ones' if k > 1 else 'one'}} you prefer.</h2>
      </div>
      <div class="clear"></div>
      {% for i, (story_key, story) in enumerate(stories) %}
      <div class="sg-5"></div>
      <div class="sg-15 fb-story sgParent">
        <div class="sg-2 tight-bottom">
          <img class="story-image" src="/static/img/{{sources[i]}}.jpg"></img>
        </div>
        <div class="sg-11 tight-bottom">
          <div class="headline">{{story['headline']}}</div>
        </div>
        <div class="clear"></div>
        <div class="sg-15 status-text">
        {{story['text']}}
        </div>
        <div class="clear"></div>
      </div>
      <div class="sg-11">
        <textarea name="{{story_key}}" rows=6 cols=44></textarea>
      </div>
      <div class="clear"></div>
      {% end %}
      <div class="sg-5"></div>
      <div class="sg-27">
        <input class="submit" type="submit" value="Continue"></input>
      </div>
      </form>
    </div>
  </div>
</body>
</html>
