<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thanks</title>
    <link rel="stylesheet" href="/static/squaregrid.css" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
<body>
<div id="fb-root"></div>
  <div id="wrapper">
    <div id="container">
      <div class="sg-5"></div>
      <div class="sg-19">
        <h1>Thanks for participating!</h1>
	{% if code is not None %}
	<h2>Your code is <bold>{{code}}</bold></h2>.
	{% end %}
	{% if not enough %}
        <h2>You didn't create keywords for enough articles to successfully complete the task.</h2>
	<h3>Would you like to <a href="/">start over</a>?.</h3>
	{% end %}
      </div>
      <div class="clear"></div>
    </div>
  </div>
</body>
</html>
