<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thanks</title>
    <link rel="stylesheet" href="/static/squaregrid.css" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
<body>
<div id="fb-root"></div>
  <div id="wrapper">
    <div id="container">
      <div class="sg-5"></div>
      <div class="sg-19">
        <h1>Thanks for participating!</h1>
	{% if code is not None %}
	<h2>Your code is <bold>{{code}}</bold></h2>.
	{% end %}
      </div>
      <div class="clear"></div>
    </div>
  </div>
</body>
</html>
